* {
 text-align: center;
background-color: #FDEBD0;
 box-sizing: border-box;
 font-family: Tahoma, Geneva, sans-serif;
}

h1 {
   background-color: white;
 opacity: .75;
 border-radius: 20%;
}

h2 {
  color: #ABDC67;
 background-color: #000;
 opacity: .75;
 padding: 10px;
 width: 800px;
 margin: 40px auto;
}

lh {
 font-size: 20px;
 font-style: bold;
 padding: 5px;
}

p {
}

ul.art {
 list-style: none;
 width: 275px;
 margin: 0 auto;
text-align: center;
}

ul.philosophy {
 list-style: none;
 width: 275px;
 margin: 0 auto;
text-align: center;
}

ul.links {
 list-style: none;
 width: 175px;
 margin: 0 auto;
text-align: center;
}

.art > li {
 background: url("content/paintbrush-icon.png") no-repeat left top;
 padding: 0px 15px 15px 25px;
}

.philosophy > li {
 background: url("content/philosophy-icon.png") no-repeat left top;
 padding: 0px 15px 15px 25px;
}

.links > li {
 padding: 0px 15px 15px 15px;
}

.left-align {
 text-align: left;
}

.wiki {
 background: url("content/wiki-icon.png") no-repeat left top;
}

.linkedin {
 background: url("content/linkedin-icon.png") no-repeat left top;
}

.insta {
 background: url("content/insta-icon.png") no-repeat left top;
}

.twitter {
 background: url("content/twitter-icon.png") no-repeat left top;
}

.resume {
 background: url("content/resume-icon.png") no-repeat left top;
}

.github {
 background: url("content/github-icon.png") no-repeat left top;
}

table, th, td {
  border: 3px solid black;
 border-collapse: collapse;
 margin: 0 auto;
}

th, td {
 padding: 10px;
}

th {
 background-color:#39B8CA;
}

td {
 text-align: left;
background-color: transparent;
}

tr {
 background-color: #B0ECF5;
}

tr:nth-child(odd) {
  background-color: #87E9F7;
}


img {
 float: left;
}

footer {
 background-color: #000;
 opacity: .75;
 padding: 10px;
}

.footer {
color: #ABDC67;
background-color: #000;
}

.fish {
 size: 20px;
 font-weight: bold;
 padding-bottom: 20px;
 letter-spacing: .05em;
}

