* {
 text-align: center;
 background-color: #FDEBD0;
}

h1 {
   border: 3px solid #67C8DC;
}

h2 {
  color: #ABDC67;
 background-color: #000;
 opacity: .75;
 padding: 10px;
 margin: 30px;
}

li {
 padding: 20px;
}

p {
}

table, th, td {
  border: 1px solid black;
  font-family: Arial, sans-serif;
  text-align: center;
}
