* {
 text-align: center;
background-color: #FDEBD0;
 box-sizing: border-box;
 font-family: Tahoma, Geneva, sans-serif;
}

h2 {
 color: #ABDC67;
 background-color: #000;
 opacity: .75;
 padding: 10px;
 width: 800px;
 margin: 40px auto;
}

lh {
 font-size: 20px;
 font-style: bold;
 padding: 5px;
}

p {
}

img {
 float: left;
}

ul {
 list-style: none;
 width: 275px;
 margin: 0 auto;
 text-align: center;
 padding: 0;
}

ul.links {
 width: 175px;
}

li {
  padding: 0px 15px 15px 25px;
}

.art > li {
 background: url("content/icons/paintbrush-icon.png") no-repeat left top;
}

.philosophy > li {
 background: url("content/icons/philosophy-icon.png") no-repeat left top;
}

.links > li {
 padding: 0px 15px 15px 15px;
}

.left-align {
 text-align: left;
}

.wiki {
 background: url("content/icons/wiki-icon.png") no-repeat left top;
}

.linkedin {
 background: url("content/icons/linkedin-icon.png") no-repeat left top;
}

.insta {
 background: url("content/icons/insta-icon.png") no-repeat left top;
}

.twitter {
 background: url("content/icons/twitter-icon.png") no-repeat left top;
}

.resume {
 background: url("content/icons/resume-icon.png") no-repeat left top;
}

.github {
 background: url("content/icons/github-icon.png") no-repeat left top;
}

table, th, td {
  border: 3px solid black;
 border-collapse: collapse;
 margin: 0 auto;
}

table.links > tr > td {
 text-align: right;
 border: none;
 background-color: transparent;
}

th {
 background-color:#39B8CA;
 padding: 10px;
}

td {
 text-align: left;
 background-color: transparent;
 padding: 10px;
}

tr {
 background-color: #B0ECF5;
}

tr:nth-child(odd) {
  background-color: #87E9F7;
}

.games td {
 text-align: center;
background-color: transparent;
}

.games tr {
background-color: #ABDC67;
}

.games a {
background-color: #ABDC67;
}

footer {
 background-color: #000;
 opacity: .75;
 padding: 10px;
}

.footer {
color: #ABDC67;
background-color: #000;
}

.fish {
 size: 20px;
 font-weight: bold;
 padding-bottom: 20px;
 letter-spacing: .05em;
}

